* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: white;
}

.clock {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("./src/clock.png") center / cover;
    border: white;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
    -23px 0 20px -23px rgba(0, 0, 0, .8),
    23px 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgba(0, 0, 0, .1) inset;
}

.clock::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    z-index: 5;
    background-color: gray;
}

.hour {
  position: absolute;
}

.hours {
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 50%;
}

.hours::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background-color: #ff105e;
    z-index: 6;
    border-radius: 5px 5px 0 0;
}

.minute {
    position: absolute;
}

.minutes {
    width: 190px;
    height: 190px;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 50%;
}

.minutes::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 90px;
    background-color: black;
    z-index: 7;
    border-radius: 5px 5px 0 0;
}

.second {
    position: absolute;
}

.seconds {
    width: 230px;
    height: 230px;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 50%;
}

.seconds::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 150px;
    background-color: black;
    z-index: 8;
    border-radius: 5px 5px 0 0;

}

.clock-small {
    width: 350px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 3px black;
    border-radius: 7px;
    margin-left: 1.5em;
    font-family: "American Typewriter";
    font-size: 50px;
}

.border-bot {
    border-bottom: solid 3px gray;
}

.clockMonth {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

